body{ width:900px; margin:5px auto; font-size:12px;}
a{ color:#333; text-decoration:none;}
a:hover{ color: #0000FF; text-decoration:underline;}
.r{ float:right;}
.header{ height:30px; clear:both;}
.header ul li{ float:left; margin:3px 10px;}
.list li{line-height:20px; height:20px; margin:5px; list-style:none;}
.list li input{ width:300px; border:1px solid #ccc;}
.list li label{ width:100px; text-align:right; height:20px; float:left;}
.list input.butn{ height:20px; width:40px; background-color:#ccc; padding:1px; border:1px solid #333; margin:3px;}
.list th{ border-bottom:2px solid #ccc; background-color:#eee;}
.list td{border-style:solid; border-width:0 1px 1px 0; border-color:#ccc; text-align:center;}
.page{ text-align:right; clear:both; height:30px;}
.footer{ text-align:center; height:40px; margin-top:10px; border-top:1px solid #999999; line-height:40px;}
.footer a{ color:#0000FF;}